.l-footer {

    background-color: $bgGray;
    height: 100%;
    position: relative;

    &__bg {

        background-color: $yellow;
        height: 100%;
        width: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1
    }

    &__container {

        background-color: $green;
        height: 320px;
        border-radius: 8.33vw 0 8.33vw 0;
        @include content-column;
        align-items: center;
        padding-top: 120px;
        position: relative;
        z-index: 2;
        font-family: $Mulish;

        @include RWD(lg){
            border-radius: 11.71875vw 0 11.71875vw  0;
            padding-top: 82px;
            height: 300px;
            
        }
    
        @include RWD(sm){
            border-radius: 16.66vw 0 16.66vw  0;
            padding-top: 52px;
            
        }

        &-content {

            @include content-row;
            padding-bottom: 19px;
            width: 75vw;

            @include RWD(lg){
                width: clamp(280px, 82.12vw, 841px);
                padding-bottom: 64px;
                
            }

            @include RWD(sm){

                flex-direction: column;
                width: clamp(280px, 77.77vw, 100%); 
                 
            }

            @include RWD(ss){
                width: 77.77vw; 
                
            }

            &_contact {

                padding-right: 100px;

                .title {

                    color: $yellow;
                    font-size: 26px;
                    font-weight: $font-weight-bold;
                    padding-bottom: 14px;
                    width: 133px;

                    @include RWD(lg){
                        width: 113px;
                        
                    }

                    @include RWD(sm){
                        width: 82px;
                        
                    }

                    img {

                        object-fit: contain;
                        width:100%; 
                        height:100%;
                        object-position: left;
                    }

                    @include RWD(lg){
                        padding-bottom: 10px;
                        
                    }

                    @include RWD(sm){
                        font-size: 16px;
                        padding-bottom: 6px;
                        
                    }
                }

                .content {

                    p {

                        color: $white;
                        font-size: 20px;
                        font-weight: $font-weight-regular;

                        @include RWD(sm){
                            font-size: 14px;
                            
                        }

                        &:first-child {

                            padding-bottom: 10px;

                            @include RWD(sm){
                                padding-bottom: 6px;
                                
                            }
                        }

                        // &:last-child {


                        //     @include RWD(sm){
                        //         padding-bottom: 25px;
                                
                        //     }
                        // }

                        

                    }

                    a {

                        font-size: 20px;
                        font-weight: $font-weight-regular;
                        color: $white;

                        @include RWD(sm){
                            font-size: 14px;
                            padding-bottom: 25px;
                            
                        }

                    }

                    
                }
            }

            &_follow {

                .title {

                    color: $yellow;
                    font-size: 26px;
                    font-weight: $font-weight-bold;
                    padding-bottom: 14px;
                    height: 33px;


                    @include RWD(lg){
                        width: 69px;

                        
                    }

                    @include RWD(sm){
                        width: 51px;
                        
                    }

                    img {

                        object-fit: contain;
                        width:100%; 
                        height:100%;
                        object-position: left;
                    }


                    @include RWD(sm){
                        font-size: 16px;
                        padding-bottom: 9px;
                        
                    }
                }

                .content {

                    width: 32px;
                }
            }
        }

        &-copyright {

            font-size: 16px;

            @include RWD(sm){
                font-size: 14px;
                
            }

            p {

                color: $white;
            }
        }
    }

    &__gotop {

        width: 60px;
        height: 60px;
        border: 1px solid $yellow;
        position: absolute;
        @include circle;
        @include content-center-column;
        top: 2.6vw;
        right: 4.1vw;
        cursor: pointer;
        transition: .3s;

        

        @include RWD(lg){

            top: 3.125vw;
            right: 3.125vw;
             
        }


        @include RWD(sm){

            top: 14.44vw;
            right: 11.11vw;
            width: 40px;
            height: 40px; 
        }

         

        
    }
}

.gotopHover {

    &:hover {

        background: $yellow;

        svg {

            path {
                stroke: $black;

            }

            
        }
    }
}

.gotopBg {

    background-color: $yellow;

    svg {

        path {
            stroke: $black;

        }

        
    }
}