// Font

// font-weight
$font-weight-extraLight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
$font-weight-extraBold: 800;
$font-weight-black: 900;

// google fonts
$Mulish: 'Mulish', 'Noto Sans TC';
$NotoSansTC: 'Noto Sans TC', 'Mulish';